<div class="center">
<h1>{{title}}
</h1>
<h2>お弁当プロモーション
</h2>

</div>
 <a href="#" class="btn button" style="  margin-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">Learn More</a>